#service {

    .card {
        border-radius: 15px;

        img {
            background: #fefefe;
            border-radius: 15px;
            box-shadow: 0 0 5px #5c5a5a;
            
            &:hover {
                transition-duration: 0.5s;
                transform: scale(1.05);
                box-shadow: 5px 5px 10px #5c5a5a;     
            }
        }
    }
}